.header {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: 85%;
    width: 120%;
    height: 90vh;

}

.menu__icon {
    position: fixed;
    background-color: $colorMain;
    padding: 10px;
    }

.section1 {
    text-align: center;
    flex-direction: column;
    color: white;
    padding-top: 400px;
}
.header__title {
    margin-right: 65px;
    font-size: 40px;
}

.header__p {
    font-size: 20px;
    line-height: 30px;
    padding: 30px;
}
.arrow {
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    align-content: center;
    display: inline-block;
    margin: 140px;
}