.header {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-position: 85%;
    width: 120%;
    height: 90vh;

}

