<footer class="footer">
    <ul class="lista__footer">
    
        <li>ZAPATILLAS
            <a href="https://adalab.es/"> </a>
        </li>
    
        <li>ROPA
                <a href="https://adalab.es/"></a>
        </li>
       
        <li>NIÑO/A
            <a href="https://adalab.es/"></a>
        </li>

        <li>DESTACADOS
            <a href="https://adalab.es/"></a>
        </li>

        <li>TIPS
            <a href="https://adalab.es/"></a>
        </li>

    </ul>
    <ul class="lista__twitter">
        <li>TWITTER
            <a href="https://adalab.es/"></a>
        </li>
        <li>INSTAGRAM
            <a href="https://adalab.es/"></a>
        </li>
        <li>YOUTUBE
            <a href="https://adalab.es/"></a>
        </li>
    </ul>
    <p>&copy; 2024</p>
    <p>We❤︎Run</p>
</footer>