 <div class="section3">  
    <div class="titles__section3">
        <h4>Prepáralos con tus marcas favoritas!</h4>
        <h2>VUELTA AL COLE</h2>
    </div>
    <div class="section3__body">
        <img src="./images/lpbts-mod05-img01-desk.png" alt="Photo of a girl and a backpack">
        <h3>Mochilas escolares</h3>

        <img src="./images/lpbts-mod05-img04-mob.png" alt="Photo of a boy and a pencil case">
        <h3>Estuches</h3>

        <img src="./images/lpbts-mod05-img03-mob.png" alt="Photo of a girl and a sports backpack">
        <h3>Bolsas de deporte</h3>
    </div>
        <div>
            <button class="button__empezar">Empezar ahora</button>
        </div>
        <div>
             <img src="./images/ico-arrow.svg" alt="up arrow" class="up__arrow">
        </div>
</div> 